* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    min-height: 0;
    margin-top: 0;
    margin-bottom: 0;
}


window#waybar {
    background: rgba(51, 19, 96, 0.4);
    color: white;
    border-radius: 40px;
}

#cpu {
    color: black;
    margin: 0 2px 0 2px;
}
#cpu:hover {
    background-color: rgba(92, 92, 92, 0.5);
    padding: 11px;
    margin: 6px;
}

#clock {
    font-size: 25px;
}


#workspaces {
    background: rgba(51, 19, 96, 0);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: white;
}

#custom-power {
    color: black;
    padding: 10px;
    border-radius: 10px;
} 

#custom-power:hover {
    background-color: rgba(92, 92, 92, 0.5);
    margin: 5px;
}

#battery {
    color: black;
}

#battery.charging {
    color: black;
    background-color: rgba(22, 155, 8, 0.3);
    border-radius: 20px;
}

@keyframes blink {
    to {
        background-color: rgba(202, 6, 6, 0.3);
        color: black;
        border-radius: 20px;
    }
}

 #battery.warning:not(.charging) {
    background-color: rgb(255, 6, 6);
    color: black;
    border-radius: 20px;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

