@define-color purple #43517b;
@define-color text #000000;

* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    min-height: 0;
    margin-top: 0;
    margin-bottom: 0;
}


window#waybar {
    background: rgba(51, 19, 96, 0); 
    color: white;
    border-radius: 40px;
}

#pulseaudio {
    background-color: @purple;
    color: @text;
    border-radius: 30px;
    padding: 5px;
}

#pulseaudio:hover {
    background-color: rgba(92, 92, 92, 0.5);
    border-radius: 30px;
    padding: 5px;

}

#cpu {
    color: @text;
    background-color: @purple;
    margin: 0 1.5px 0 1.5px;
    border-radius: 30px;
    padding: 5px;

}
#cpu:hover {
    background-color: rgba(92, 92, 92, 0.5);
    border-radius: 30px;
    padding: 5px;
}

#memory {
    color: @text;
    background-color: @purple;
    margin: 0 1.5px 0 1.5px;
    border-radius: 30px;
    padding: 5px;

    
}
#memory:hover {
    background-color: rgba(92, 92, 92, 0.5);
    border-radius: 30px;
    
}

#temperature {
    color: @text;
    background-color: @purple;
    margin: 0 1.5px 0 1.5px;
    border-radius: 30px;
    padding: 5px;

    
}
#temperature:hover {
    background-color: rgba(92, 92, 92, 0.5);
    border-radius: 30px;
    padding: 5px;
}

#backlight {
    color: @text;
    background-color: @purple;
    margin: 0 1.5px 0 1.5px;
    border-radius: 30px;
    padding: 5px;

}
#backlight:hover {
    background-color: rgba(92, 92, 92, 0.5);
    border-radius: 30px;
    padding: 5px;
}

#battery {
    color: @text;
    background-color: @purple;
    margin: 0 1.5px 0 1.5px;
    border-radius: 30px;
    padding: 5px;
}

#battery.charging {
    color: @text;
    background-color: rgba(22, 155, 8, 0.3);
    border-radius: 20px;
}

@keyframes blink {
    to {
        background-color: rgba(202, 6, 6, 0.3);
        color: @text;
        border-radius: 20px;
    }
}

 #battery.warning:not(.charging) {
    background-color: rgb(255, 6, 6);
    color: @text;
    border-radius: 20px;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-power {
    color: @text;
    background-color: @purple;
    padding: 10px;
    border-radius: 30px;
    padding: 0 0px 0 10px;
    margin: 0 10px 0 1.5px;
    
} 

#custom-power:hover {
    background-color: rgba(92, 92, 92, 0.5);
    border-radius: 50px;
}

#clock {
    color: @text;
    font-weight: bold;
    font-size: 25px;
    background-color: @purple;
    margin: 0 1.5px 0 1.5px;
    border-radius: 30px;
    padding: 0 10px 0 10px;
}


#workspaces {
    background: rgba(51, 19, 96, 0);
    color: white;
}

#custom-wireguard-manager {
    color: @text;
    background-color: @purple;
    margin: 0 1.5px 0 1.5px;
    padding: 0 10px 0 10px;
    border-radius: 30px;
}

#workspaces {
    background-color: @purple;
    margin: 0 1.5px 0 1.5px;
    padding: 0 5px 0 5px;
    border-radius: 10px;
}

#workspaces button {
    background-color: @purple;
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    color: white;
}

#workspaces button:hover {
    background-color: rgba(92, 92, 92, 0.5);
}

#custom-keyboard-layout {
    color: @text;
    background-color: @purple;
    margin: 0 2.5px 0 2.5px;
    border-radius: 30px;
    padding: 5px;
}
#custom-keyboard-layout:hover {
    background-color: rgba(92, 92, 92, 0.5);
    border-radius: 30px;
    padding: 5px;
}